<div>
	<div class="updates-panel col-xs-7">
		<div class="updates-panel-header">
			<p>Updates</p>
		</div>
		<div class="updates-panel-content">
			<div class="new-stand-up-container">
				<button class="btn btn-sm btn-default new-stand-up">Add status</button>
				<button class="btn btn-sm btn-default new-summary">Add summary</button>
				<p class="pull-left stand-ups-button show-stand-ups">Show Summaries</p>
			</div>
			<div id="updates-region"></div>
		</div>
	</div>
	<div id="dialog-region">
	</div>
	<div class="milestones-panel col-xs-5">
		<div class="milestones-panel-header">
			<p>Milestones</p>
		</div>
		<div class="milestones-panel-content">
			<div class="new-milestone-container">
				<button class="btn btn-sm btn-default new-milestone">New milestone</button>
			</div>
			<div id="milestones-region"></div>
		</div>
	</div>
<div>