<div>
	<div id="left-region" class="status-panel col-xs-7">
		<div class="status-panel-header">
			<p>Updates</p>
		</div>
	</div>
	<div id="dialog-region">
	</div>
	<div class="milestones-panel col-xs-5">
		<div class="milestones-panel-header">
			<p>Milestones</p>
		</div>
		<div class="milestones-panel-content">
			<div class="new-milestone-container">
				<button class="btn btn-sm btn-default new-milestone">New milestone</button>
			</div>
			<div id="milestones-region"></div>
		</div>
	</div>
	{{> milestone_add_modal}}
<div>