   <div class="container-non-responsive">
      <div class="row">
        <div class="col-sm-5 panel-overlay-outer">
          <img class="full-width-image" src="../../../../images/tracking.png" />
          <div class="panel-overlay"></div>
        </div>
        <div class="col-sm-7 flexbox panel-buzzword">
          <div class="vertically-center text-panel">
            <h2 class="display-1">Transparency shouldnt just be a buzzword</h2>
            <p class="lead">Use our dashboard to track progress towards your milestones, and exactly how much you paid for each feature</p>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-container-secondary">
      <div class="container-non-responsive">
        <div class="row">
          <div class="col-sm-7 flexbox panel-buzzword">
            <div class="vertically-center text-panel">
              <h2 class="display-1">Be proud of your code</h2>
              <p class="lead">We dont just ship features,
                we deliver code that your buisiness can build on for years.</p>
              <p>Each PR gets a full code review from the whole team.
                Every project comes with automated tests, documentation, and KPI tracking.</p>

            </div>
          </div>
          <div class="col-sm-5 panel-buzzword img-tracking flexbox panel-overlay-outer">
            <div class="panel-overlay"></div>
            <pre class="vertically-center">
function postStatus (status) {
   KPI.add('status_update');
   Status.post(status, User.get('id'))
   .done(function () {
      KPI.get('status_update').success();
    })
    .fail(function (msg) {
       ErrorTrack.send('status_update', msg);
     });
}
            </pre>
          </div>
        </div>
      </div>
    </div>

    <div class="container-non-responsive">
      <div class="row">
        <div class="col-sm-5 panel-overlay-outer">
          <img class="full-width-image" src="../../../../images/knowledge.png" />
          <div class="panel-overlay"></div>
        </div>
        <div class="col-sm-7 flexbox panel-buzzword">
          <div class="vertically-center text-panel">
            <h2 class="display-1">Knowledge is bliss</h2>
            <p class="lead">See every status update, sprint retrospective, and commit
            without remembering your Jira password</p>
            <p>Our dashboard hooks into all major ticketing and code hosting systems, so it's always up-to-date.
              Don't need to see a stream of cimmit messages? Our product managers post daily and weekly summaries.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid container-full-width">
      <div class="jumbotron jumbotron-secondary">
        <h1 class="display-2 text-center">Let's get started</h1>
        <p class="lead">Shoot us your email address and we'll get back to you by tomorrow to pick your brain,
        figure out the best team for your project, and give you a quote.</p>
        <label for="email">Email</label>
        <form class="form-inline">

          <fieldset class="form-group">

            <input type="text" class="form-control quote-email" id="email" placeholder="tyrion@casterlyrock.gov">
            <button class="btn btn-secondary">Get Mochi</button>
          </fieldset>
        </form>
      </div>
    </div>

  </div>