<div class="row milestone-container">
	<ul class="milestone-header">
		<li class="ok-button">
			{{#if_eq percent_complete 100}}
				<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
			{{/if_eq}}
		</li>
		<li class="name">{{name}}</li>
	</ul>
	<div class="progress col-xs-9 milestone-progres-container">
		<div class="progress-bar progress-bar-success milestone-progres" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{percent_complete}}%;">
		{{percent_complete}}%
		</div>
	</div>
	<div class="col-xs-1 milestone-cost">
		<p>${{cost}}</p>
	</div>
</div>