<div id="milestonesModal" class="modal" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog modal-sm">
	  	<div class="modal-header">
	        <button type="button" class="close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="gridSystemModalLabel">New milestone</h4>
      	</div>
	    <div class="modal-content">
	    	<form>
			    <div class="control-group">
			        <label for="milestone-name" class="control-label">Name:</label>
			        <input id="milestone-name" name="name" type="text"/>
			    </div>
			    <div class="control-group">
			        <label for="percent-complete" class="control-label">Percent complete:</label>
			        <input id="percent-complete" name="complete" type="text"/>
			    </div>
			     <div class="control-group">
			        <label for="data-started" class="control-label">Data started:</label>
			        <input id="data-started" name="started" type="text"/>
			    </div>
			     <div class="control-group">
			        <label for="due-date" class="control-label">Due date:</label>
			        <input id="due-date" name="due" type="text"/>
			    </div>
			    <div class="control-group">
			        <label for="cost" class="control-label">Cost:</label>
			        <input id="milestone-cost" name="cost" type="text"/>
			    </div>
			</form>
	    </div>
	    <div class="modal-footer">
        	<button class="btn add-milestone">Add</button>
      	</div>
	</div>
</div>
