/*variables*/
$left_header_background: #8bc34a;
$right_header_background: #81ac50;
$left_container_background: #ffffff;
$right_container_background: #f3f3f3;

$panel_divider_color: #6a8d40;
$panel_text_color: #000000;

/*extend*/

/*LOADER*/
.loader {
	display: none;
	position: fixed;
	top: 45%;
	left: 45%;
	z-index: 999999;
}
/*FINISH LOADER*/

/*LEFT PANEL*/
.updates-panel {
	padding-right: 0px;
	padding-left: 0px;

	.updates-panel-header {
		width: 100%;

		background-color: $left_header_background;

		text-align: center;

		p {	
			color: #ffffff;
			font-size: 5em;
			padding: 20px;
			margin: 0px;
		}
	}

	.updates-panel-content {

		background-color: $left_container_background;

		.new-stand-up-container {
			height: 50px;
		}

		button {

			float: right;
			margin: 10px;
			cursor: context-menu;
		}

		.no-stand-ups {
			font-size: 1.5em;
		}
	}

	.status-container {
		margin: 0px 20px;

		.stand-up-container {
			.date {
				font-size: 1.2em;
				font-weight: bold;
				margin-bottom: 5px;
			}

			.stand-ups {
				list-style: none;
				text-align: justify;

				.status-text {
					font-size: 1.5em;
					margin-bottom: 15px;
				}
			}
		}
	}
}
/*FINISH LEFT PANEL*/


/*RIGHT PANEL*/
.milestones-panel {
	padding-right: 0px;
	padding-left: 0px;

	.milestones-panel-header {
		width: 100%;

		background-color: $right_header_background;

		text-align: center;

		p {	
			color: #ffffff;
			font-size: 5em;
			padding: 20px;
			margin: 0px;
		}
	}

	.milestones-panel-content {

		background-color: $right_container_background;

		.new-milestone-container {
			height: 50px;
		}

		button {

			float: right;
			margin: 10px;
			cursor: context-menu;
		}

		.no-milestones {
			font-size: 1.5em;
		}

	}

	.milestone-container {

		margin: 15px 0px;

		cursor: context-menu;

		.milestone-header {

			margin-left: 20px;
			font-size: 1.5em;
			font-weight: bold;

			li {
				display: inline-block;

				span {
					top: 0px;
				}
			}

			.name {
				margin-left: 30px;
			}

			.ok-button {
				display:block;
				position: absolute;
			    width:20px;
			    height:20px;
			    line-height:20px;
			    margin-right: 5px;
			    border: 2px solid #acdd71;
			    border-radius: 50%;
			    color:black;
			    text-align:center;
			    text-decoration:none;
			    background: #f3f3f3;
			    box-shadow: 0 0 1px gray;
			    font-size:10px;
			    font-weight:bold;
			    cursor: cell;
			    z-index: 2;
			}
		}

		.milestone-progres-container {

			margin-left: 50px;
			padding: 0;
			border-radius: 0px;
			background-color: #ffffff;

			.milestone-progres {

			}

		}

		.milestone-cost {

			p {
				margin: 0px;
				margin-top: 3px;
			}

		}
	}
}
/*FINISH RIGHT PANEL*/