/*USER REGISTER*/
.user_registration_container {
	background-color: #81ac50;

	form {
		margin-top: 10%;
		background-color: #f3f3f3;
	}

	.form-group {
		margin-top: 3%;

		div {
			padding-right: 5%;
		}
	}

	label {
		color: #333;
	}

	.error {
		visibility: hidden;
		color: red;
		font-style: italic;
	}
}
/*FINISH REGISTER*/

/*USER LOGIN*/
.user_login_container {

	.form-group {
		margin-top: 3%;

		div {
			padding-right: 5%;
		}
	}

	label {
		color: #333;
	}

	.error {
		visibility: hidden;
		color: red;
		font-style: italic;
	}

	div.forgot_password {
		float: left;
	}

	a {
		color: #555;
	}
}
/*FINISH LOGIN*/