<div class="modal recovery_modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close close_recovery"><span>&times;</span></button>
				<h4 class="modal-title">Modal title</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="email" class="col-sm-2 control-label">Email:</label>
						<div class="col-sm-9">
							<input type="email" class="form-control email_recovery" id="email" placeholder="Enter email">
							<p class="error email_error">Enter a valid Email!</p>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default send_recovery">Send</button>
			</div>
		</div>
	</div>
</div>
