<div>
	<div class="recovery_header col-xs-12">
		<div class="left_block"><p>HackCorps</p></div>
	</div>
	<form class="col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2" role="form">
		<div class="form-group">
			<label for="password">New password</label> 
			<input type="password" class="form-control" id="password">
			<p class="error password_error">Pis more then 8 symbols!</p>
		</div>
		<div class="form-group">
			<label for="confirm">Confirm password</label >
			<input type="password" class="form-control" id="confirm">
			<p class="error confirm_error">Confirm should be the same!</p>
		</div>
		<div class="form-group"> 
			<div class="button">
				<button type="submit" class="btn btn-default send_recovery">SEND</button>
			</div>
		</div>
	</form>
</div>