<div class="stand-up-container">
	<p class="date">{{noted_at}}</p>
	<ul class="stand-ups">
		<li class="stand-up">
			<p class="status-text">{{update_text}}<span> - {{user}}</span></p>
		</li>
	</ul>
</div>